@charset "UTF-8";
:root {
  --mi-var: rgb(30,150,230); }

* {
  padding: 0px;
  margin: 0px;
  font-family: "fuenteuno";
  background-color: #1e96e6; }

/* header */
header {
  display: grid;
  grid-area: header; }

/* imagen header */
.header {
  width: 100%; }

/* titulo principal */
.titulo {
  text-align: center;
  font-size: 40px; }

/* nav */
nav {
  display: flex;
  grid-area: nav;
  flex-direction: row; }

/* nav */
.menu {
  width: 100%;
  background-color: lightgray;
  font-size: 20px;
  text-align: center;
  line-height: 10px; }

.menu__item {
  width: 10%;
  height: 90%;
  background-color: lightgray;
  display: inline-block;
  margin: 20px; }

/* section */
section {
  display: flex;
  grid-area: content;
  padding: 10px; }

/* seccion */
.seccion {
  flex-wrap: wrap; }

.seccion__tarjeta {
  width: 400px;
  height: 550px;
  background-color: lightgray;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: solid 1px black; }

.seccion__imagen {
  background-color: lightgray;
  width: 400px;
  height: 400px;
  margin: 1px;
  padding: 1px; }

.seccion__titulo {
  background-color: lightgray;
  text-decoration: underline;
  text-align: center; }

.seccion__noticia {
  height: 80px;
  background-color: lightgray;
  overflow: hidden; }

/* aside */
aside {
  display: flex;
  grid-area: publi;
  padding: 10px; }

/* publicidad */
.aside {
  flex-wrap: wrap;
  flex-direction: column; }

.publicidad {
  width: 300px;
  height: 300px;
  margin: 5px;
  border-style: groove; }

/* footer */
footer {
  display: flex;
  flex-direction: column;
  grid-area: footer; }

/* entidades */
.entidades {
  width: 100%;
  height: 125px;
  background-color: lightgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(to left, red, yellow); }

.entidades__img {
  width: 20%;
  height: 90%;
  padding: 0;
  margin: 5px 20px 5px 20px; }

/* Información util */
.info {
  width: 100%;
  height: 130px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center; }

.info__dos {
  width: 30%;
  height: 120px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column; }

.info__tres {
  text-align: center; }

/* footer */
.footer {
  height: 40px;
  margin-top: 10vh;
  text-align: center;
  background-color: lightgray; }

/* extend placeholder */
.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
  border-radius: 5px; }
  .fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-youtube:hover {
    background-color: white; }

/* Cuerpo */
body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 1fr 4fr 2fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "content content content publi" "footer footer footer footer"; }

/* boton */
.btn {
  background-color: lightgrey; }

.btns {
  background-color: lightgray; }

/* Letras */
.subtitulo {
  text-align: center;
  text-decoration: underline; }

@font-face {
  font-family: "fuenteuno";
  src: url(./../fonts/SourceSansPro-Regular.ttf); }

/* fondo para texto */
.ftexto {
  background-color: lightgray; }

p {
  background-color: lightgray; }

strong {
  background-color: lightgray; }

/* formularios */
.formulario {
  background-color: lightgray;
  border-style: dotted;
  width: 100%;
  margin: 1px;
  padding: 1px; }

.formulario__cajita {
  background-color: lightgray; }

.formulario__titulo {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  background-color: lightgray;
  margin-bottom: 10px; }

.formulario__general {
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap; }

.formulario__item {
  background-color: lightgray;
  width: 90%;
  margin: 5px;
  padding: 5px; }

.formulario__itemb {
  background-color: white;
  width: 90%;
  margin: 5px;
  padding: 5px; }

.formulario__itembtn {
  background-color: lightgray;
  width: 100%;
  margin: 5px;
  padding: 5px; }

.cajaTexto {
  margin: 5px;
  padding: 5px;
  width: 100%; }

.cajabtn {
  display: block;
  margin: 5px;
  padding: 5px; }

/* video */
.seccionVideo {
  flex-direction: column; }

.seccionVideo__articulo {
  margin: 10px;
  padding: 10px; }

.video {
  align-self: center;
  padding: 2px;
  margin: 2px; }

/* imagen */
.imagen {
  align-self: center;
  width: 400px;
  height: 400px; }

/* animacion */
.cardd {
  transition: all 1s; }

.cardd1:hover {
  background-color: black;
  border-style: double; }

/* pantalla hasta 783px (antes 480px) */
@media screen and (max-width: 783px) {
  body {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-template-areas: "header" "nav" "section" "publi" "pie"; }
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "himg" "titulo";
    justify-items: center; }
  header img {
    grid-area: himg;
    width: 100%;
    height: 100%; }
  header h1 {
    grid-area: titulo; }
  nav {
    width: 100%;
    grid-area: nav; }
  section {
    grid-area: section;
    flex-direction: column;
    /*justify-content: center;
        justify-items: center;
        align-content: center;*/ }
  aside {
    grid-area: publi;
    flex-direction: column; }
  footer {
    grid-area: pie; }
  section article iframe {
    width: 100%;
    height: 250px; } }

/* map al footer */
.fa-facebook {
  background-color: blue;
  font-style: italic; }

.fa-instagram {
  background-color: #e038a8;
  font-style: italic; }

.fa-twitter {
  background-color: #599bd1;
  font-style: italic; }

.fa-youtube {
  background-color: red;
  font-style: italic; }

/* map-get */
.info .info__dos .pmg {
  background-color: #599bd1; }

/* extend al footer*/
/* mixin al footer*/
.info__tres {
  width: 100%;
  height: 100%; }
