/* footer */
footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #007FFF;
}
/* entidades */
.entidades{
    width: 100%;
    /*min-height: 125px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /*background-image: linear-gradient(to left, red, yellow);*/
}
.entidades__img{
    width: 20%;
    /*min-height: 90%;*/
    padding: 0;
    margin: 5px 20px 5px 20px;
}
/* Información util */
.info{
    width: 100%;
    /*min-height: 130px;*/
    padding: 0px;
    margin: 0px;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #F4F4F2;
}
.info__dos{
    width: 30%;
    /*min-height: 120px;*/
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.info__tres{
    text-align: center;
}
/* footer */
.footer{
    /*min-height: 40px;*/
    margin-top: 1vh;
    text-align: center;
    background-color: #F4F4F2;
}