/* raiz */
:root {
    --mi-var: rgb(30,150,230);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: "fuenteuno";
    background-color:  rgb(30, 150, 230);
}
/* Cuerpo */
body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 4fr 2fr;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "content content content publi"
        "footer footer footer footer";
}
header{
    display: grid;
    grid-area: header;
}
nav{
    display: flex;
    grid-area: nav;
    flex-direction: row;
}
section{
    display: flex;
    grid-area: content;
    padding: 10px;
}
aside{
    display: flex;
    grid-area: publi;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
}
/* dentro del cuerpo */
/* imagen header */
.header{
    width: 100%;
}
/* titulo principal */
.titulo{
    text-align: center;
    font-size: 40px;
}
/* nav */
.menu {
    width: 100%;
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    line-height: 10px;
}
.menu__item{
    width: 10%;
    height: 90%;
    background-color: lightgray;
    display: inline-block;
    margin: 20px;
}
/* seccion */
.seccion{
    flex-wrap: wrap;
}
.seccion__tarjeta{
    width: 400px;
    height: 550px;
    background-color: lightgray;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
}
.seccion__imagen{
    background-color: lightgray;
    width: 400px;
    height: 400px;
    margin: 1px;
    padding: 1px;
}
.seccion__titulo{
    background-color: lightgray;
    text-decoration: underline;
    text-align: center;
}
.seccion__noticia{
    height: 80px;
    background-color: lightgray;
    overflow: hidden;
}
/* boton */
.btn{
    background-color: lightgrey;
}
.btns{
    background-color:lightgray;
}
/* publicidad */
.aside{
    flex-wrap: wrap;
    flex-direction: column;
}
.publicidad{
    width: 300px;
    height: 300px;
    margin: 5px;
    border-style: groove;
}
/* entidades */
.entidades{
    width: 100%;
    height: 125px;
    background-color: lightgray;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: linear-gradient(to left, red, yellow);
}
.entidades__img{
    width: 20%;
    height: 90%;
    padding: 0;
    margin: 5px 20px 5px 20px;
}
/* Información util */
.info{
    width: 100%;
    height: 100px;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.info__dos{
    width: 30%;
    height: 90%;
    margin: 5px 0px 8px 0px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.info__tres{
    text-align: center;
}
/* footer */
.footer{
    text-align: end;
    background-color: lightgray;
}
/* Letras */
.subtitulo{
    text-align: center;
    text-decoration: underline;
}
@font-face {
    font-family: "fuenteuno" ;
    src: url(./../fonts/SourceSansPro-Regular.ttf);
}
/* fondo para texto */
.ftexto{
    background-color: lightgray;
}
p{
    background-color: lightgray;
}
strong {
    background-color: lightgray;
}
/* formularios */
.formulario{
    background-color: lightgray;
    border-style: dotted;
    width: 100%;
    margin: 1px;
    padding: 1px;
}
.formulario__cajita {
    background-color: lightgray;
}
.formulario__titulo{
width: 100%;
text-align: center;
text-decoration: underline;
background-color: lightgray;
margin-bottom: 10px;
}
.formulario__general{
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.formulario__item{
    background-color: lightgray;
    width: 90%;
    margin: 5px;
    padding: 5px;
}
.formulario__itemb{
    background-color: white;
    width: 90%;
    margin: 5px;
    padding: 5px;
}
.formulario__itembtn{
    background-color: lightgray;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.cajaTexto{
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.cajabtn{
    display: block;
    margin: 5px;
    padding: 5px;
}
/* video */
.seccionVideo{
    flex-direction: column;
}
.seccionVideo__articulo{
    margin: 10px;
    padding: 10px;
}
.video{
    align-self: center;
    padding: 2px;
    margin: 2px;
}
/* imagen */
.imagen{
    align-self: center;
    width: 400px;
    height: 400px;
}
/* animacion */
.cajita {
    transition: all 1s;
}
.cajita1:hover {
    width: 100%;
    background-color: red;
}
/* pantalla hasta 480px */ 
@media screen and (max-width: 480px) 
{
    body {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas: 
            "header"
            "nav"
            "section"
            "publi"
            "pie";
    }
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "himg"
            "titulo";
        justify-items: center;
    }
    header img {
        grid-area: himg;
        width: 100%;
        height: 100%;
    }
    header h1 {
        grid-area: titulo;
    }
    nav {
        width: 100%;
        grid-area: nav;
    }
    section {
        grid-area: section;
        flex-direction: column;
        justify-content: space-evenly;
    }
    aside {
        grid-area: publi;
        flex-direction: column;
    }
    footer {
        grid-area: pie;
    }
    section article iframe {
        width: 100%;
        height: 250px;}
}

/* notas guardadas para mas adelante
/* Grid 1
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav header header header"
        "nav section section aside"
        "nav section section aside"
        "nav section section aside"
        "footer footer footer aside"
}
.headerGrid{
    grid-area: header;
}
.navGrid{
    grid-area: nav;
}
.sectionGrid{
    grid-area: section;
}
.asideGrid{
    grid-area: aside;
}
.footerGrid{
    grid-area: footer;
}
img{
    width: 30%;
}
.borderRounded {
    border-radius: 5px;
}

/* gradientes */
/*
.gradientes {
    background-image: linear-gradient(to left, red, yellow);
}
div {
    height: 100px;
    margin-top: 20px;
}
*/

/* transformacion */
/*
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.cuadrado{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}
.transformTranslate {
    transform: translate(20px, 20px);
}
.transformRotate {
    transform: rotate(45deg);
}
.transforSkew {
    transform: skew(20deg, 10deg);
}
*/
/*  transiciones */
/*
div {
    height: 100px;
    width: 100px;
    transition: all 2s;
    background-color: coral;
    overflow: hidden;
}
div:hover {
    height: 200px;
    width: 200px;
    transform: scale(2) translate(50px, 50px);
    background-color: yellow;
}
*/
/* animacion */
/* 
@keyframes miAnimacion {
    0%{width: 100px;}
    25%{width: 300px;}
    50%{width: 100px; background-color: red;}
    75%{width: 300px;}
    100%{width: 100px; background-color: green;}
}
section {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: miAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 10s;
}*/
/*
@keyframes aparecer {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
h1 {
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}*/

/* notas viejas

/* estilo de letra 
.italica {
    font-style: italic;
    }
.redondeado {
    border-radius: 10px;
}
.encabezado {
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 30px;
}
p { font-family: "fuenteuno";}
h1 { font-family: "fuenteuno";}
h2 { font-family: "fuenteuno";}
/* ID 
#principal {
    background-color: brown;
    margin-top: 30px;
}
/* tarjeta
.card {
    width: 12%;
    background-color: lightgray;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: solid 1px black;
}
.card__image{
    width: 96%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
.card__description{
    overflow: hidden;}
    */

/* cuadricula 
.padre {
    margin: 15px;
    padding: 15px;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: var(--mi-var);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hijo {
    width: 100px;
    height: 100px;
    background-color: coral;
    border: solid 2px gray;
}
*/